temp_stuff

# Notes/Course1/C*
# Notes/Course2/C*
# Notes/Course3/C*
# Notes/Course4/C*
Notes/Course 1/C1_W1.pdf
Notes/Course 1/C1_W2.pdf
Notes/Course 1/C1_W3.pdf
Notes/Course 2/C2_W1.pdf
Notes/Course 2/C2_W2.pdf
Notes/Course 2/C2_W3.pdf
Notes/Course 2/C2_W4.pdf
Notes/Course 3/C3_W1.pdf
Notes/Course 3/C3_W2.pdf
Notes/Course 3/C3_W3.pdf
Notes/Course 3/C3_W4.pdf
Notes/Course 3/C3_W5.pdf
Notes/Course 4/C4_W1.pdf
Notes/Course 4/C4_W2.pdf
Notes/Course 4/C4_W3.pdf

Notes/Course 4/C4_W4.pdf
